<div class="container">
	<div class="row">
      <fieldset>
      <legend>Edit Admin Account: Please fill in every field</legend>
      <%= form_for @user, url: admin_dashboard_path, action: :update, method: :patch, :html => {:class => "form-horizontal center"} do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name Change:", class: "col-md-4 control-label" %>
          <div class="col-md-4">
          <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email Change:", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, "Password Change:", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label "Confirm Password", "Confirm Password Change:", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"> </label>
          <div class="col-md-4">
            <%= f.submit "Edit Admin Account!", class: "btn btn-primary" %>
        </div>
        </div>

      </fieldset>
    <% end %>
	</div>
</div>
