<div class="container">
<h1> Admin Dashboard </h1>
<div class="col-12">
  <td colspan="2" class="hidden-xs"></td>
<%= link_to "Edit Admin Account", edit_admin_dashboard_path(id: current_user.id), class: "btn btn-primary" %>
<td colspan="2" class="hidden-xs"></td>
<h1> Name </h1>
 <%= current_user.name %>
<h1> Email </h1>
 <%= current_user.email %><br><br>
 <td colspan="2" class="hidden-xs"></td>
 <%= link_to "View All Orders", admin_orders_path, class: "btn btn-primary" %>
 <%= link_to "View All Items", admin_items_path, class: "btn btn-primary" %>
 <td colspan="2" class="hidden-xs"></td>
</div>
</div>
