<%= render partial: "shared/banner" %>
<div class="container">
 <h3> User Information: </h3>
 <h1> Name </h1>
  <%= current_user.name %>
<h1> Email </h1>
  <%= current_user.email %>
<h1> Number of Orders </h1>
  <%= @orders.count %><br><br>
  <a><%= button_to "View Order History", orders_path, class:"btn btn-primary" %></a>
<hr>
</div>
