<div class="container">

  <div class="col-lg-12">
    <h1 class="page-header">Your Order</h1>
  </div>

  <div class="col-lg-12">
    <h4> Order Date: <%= @order.created_at %></h4>
    <h4> Order Status: <%= @order.status %></h4>
  </div>

  <table class="table table-hover table-condensed">
  	<thead>
  		<tr>
        <th class="col-sm-6"><%= "Item" %></th>
        <th class="col-sm-2"><%= "Price" %></th>
        <th class="col-sm-2"><%= "Quantity" %></th>
  			<th class="col-sm-2" class="text-center"><%= "Subtotal" %></th>
  		</tr>
  	</thead>
  	<tbody>
      <% @items.each do |order_item| %>
  		<tr>
  			<td data-th="Product">
  				<div class="row">
  					<div class="col-sm-2 hidden-xs">
              <img><%= image_tag order_item.image, class: "img-responsive" %></img>
            </div>
  					<div class="col-sm-10">
  						<h3 class="nomargin"><%= link_to "#{order_item.title}", item_path(order_item.id) %></h3>
              <p><%= order_item.description %></p>
  					</div>
  				</div>
  			</td>
  			<td data-th="Price"><%="$#{order_item.price}" %></td>

        <% end %>
  		</tr>
  	</tbody>
  	<tfoot>
  		<tr class="visible-xs">
  			<td class="text-center">
        </td>
  		</tr>
  		<tr>
  			<td><a href="/orders" class="btn btn-primary"><i class="fa fa-angle-left"></i> Back to Order History</a></td>
  			<td colspan="2" class="hidden-xs"></td>
  		</tr>
  	</tfoot>
  </table>

</div>
