<% @cart_items.each do |cart_item| %>
  <h3><%= cart_item.title %></h3>
  <p><%= cart_item.description %></p>
  <p><%= cart_item.quantity %></p>
  <p><%= subtotal(cart_item.price, cart_item.quantity) %></p>
  <p><%= image_tag"#{cart_item.image}" %></p>
  <a><%= button_to "Delete from Cart", delete_cart_items_path(cart_item_id: cart_item.id), class:"btn btn-primary" %></a>

<% end %>

<h2> Total Price </h2>
   <%= "$#{cart_total(@cart_items)}" %>
