<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header">Shopping Cart (<%= "#{@cart_items.count}" %>)</h1>
  </div>

  <table id="cart" class="table table-hover table-condensed">
  	<thead>
  		<tr>
        <th style="width:50%"><%= "Item" %></th>
        <th style="width:8%"><%= "Price" %></th>
        <th style="width:10%"><%= "Quantity" %></th>
  			<th style="width:22%" class="text-center">Subtotal</th>
  			<th style="width:10%"></th>
  		</tr>
  	</thead>
  	<tbody>
      <% @cart_items.each do |cart_item| %>
  		<tr>
  			<td data-th="Product">
  				<div class="row">
  					<div class="col-sm-2 hidden-xs">
              <img><%= image_tag cart_item.image, class: "img-responsive" %></img>
            </div>
  					<div class="col-sm-10">
  						<h3 class="nomargin"><%= cart_item.title %></h3>
              <p><%= cart_item.description %></p>
  					</div>
  				</div>
  			</td>
  			<td data-th="Price"><%="$#{cart_item.price}" %></td>
  			<td data-th="Quantity">
  				<p><%= form_tag cart_item_update_path(:cart_item => cart_item) do %>
                <%= select_tag :cart_item_quantity, options_for_select((1..500), cart_item.quantity) %>
                <%= submit_tag "Update" , class: "btn btn-info btn-sm" %>
              <% end %>
  			</td>
  			<td data-th="Subtotal" class="text-center"><%= "$#{subtotal(cart_item.price, cart_item.quantity)}" %>
        </td>
  			<td class="actions" data-th="">
          <a><%= button_to "Delete from Cart", delete_cart_items_path(cart_item_id: cart_item.id), class:"btn btn-danger" %></a>
  			</td>
        <% end %>
  		</tr>
  	</tbody>
  	<tfoot>
  		<tr class="visible-xs">
  			<td class="text-center">
          <strong>Total Price: <%= "$#{cart_total(@cart_items)}" %></strong>
        </td>
  		</tr>
  		<tr>
  			<td><a href="/items" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
  			<td colspan="2" class="hidden-xs"></td>
  			<td class="hidden-xs text-center"><strong>Total Price: <%= "$#{cart_total(@cart_items)}" %></strong></td>
  			<td>
          <% if current_user %>
            <a><%= button_to "Checkout", new_order_path, class:"btn btn-primary" %></a>
          <% else %>
            <a href="/login" class="btn btn-success btn-block"> Log In | Sign Up to Checkout</a>
          <% end %>
        </td>
  		</tr>
  	</tfoot>
  </table>

</div>
