<% @items.each do |item| %>
  <h3><%= item.title %></h3>
  <p><%= item.description %></p>
  <p><%= "$#{item.price}" %></p>
  <p><%= image_tag"#{item.image}" %></p>
  <a><%= button_to "Add to Cart", cart_items_path(item_id: item.id), class:"btn btn-primary" %></a>
<% end %>
