<div class="container">
	<div class="row">
      <fieldset>
      <legend>Add Shipping Information</legend>

      <%= form_for @info do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name:", class: "control-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :address, "Address:", class: "control-label" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :city, "City:", class: "control-label" %>
          <%= f.text_field :city, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :state, "State/Province:", class: "control-label" %>
          <%= f.text_field :state, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :postal_code, "Postal Code:", class: "control-label" %>
          <%= f.text_field :postal_code, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :country, "Country:", class: "control-label" %>
          <%= f.text_field :country, class: "form-control" %>
        </div>

        <div class="form-group">
          <label class="control-label" for="singlebutton"> </label>
            <%= f.submit "Complete Checkout", class: "btn btn-primary" %>
        </div>

      </fieldset>
    <% end %>
	</div>
</div>
